= form_for @announcement, html: { role: "form"} do |f|
  - if @announcement.errors.any?
    #error_explanation
      %h2
        = pluralize(@announcement.errors.count, "error")
        prohibited this project from being saved:
      %ul
      - @announcement.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.text_field :title, :placeholder => "The announcements title", :class => 'form-control input-lg', :required => "required"
  .field
    = f.text_area :text, :rows => "20", :placeholder => "Add a announcement text. You can use HTML, please be careful!", :class => 'form-control input-lg'
  .actions
    %p
      = f.submit :class => "btn btn-success pull-right"


