%li.media
  = link_to user_path(comment.commenter), :class => 'pull-left' do
    = image_tag(comment.commenter.gravatar_url(:size => "40"), class: "media-object img-rounded", alt: comment.commenter.name, title: comment.commenter.name)
  .media-body
    %h6.media-heading
      = time_ago_in_words(comment.created_at)
      ago by
      = link_to user_path(comment.commenter) do
        = comment.commenter.name
      |
      = link_to('Reply', reply_modal_path(comment) ,class: 'reply_modal_trigger', remote: :true, data: { toggle: 'modal', target: '#replyModal' })
    %p
      :markdown
        #{ emojify comment.text }
    - if !comment.comments.empty?
      %ul.media-list
        = render :partial => 'comments/comment', :collection => comment.comments, object: comment
