= render :partial => 'comments/help'

= form_for [ parent, comment ], html: {role: "form"} do |f|
  %p
    .comment-form-heading
      %ul.nav.nav-tabs
        %li.active#show-source{ role: :presentation }
          %a{ href: '#markdown-source', role: :tab, data: { toggle: :tab } } Edit
        %li#show-preview{ role: :presentation }
          %a{ href: '#markdown-preview', role: :tab, data: { toggle: :tab } } Preview
      .btnbar
        %a.btn.btn-default{onclick: "$('#comment_text').val($('#comment_text').val()+' @').click();"}
          %i.fa.fa-at
        %a.btn.btn-default{onclick: "$('#comment_text').val($('#comment_text').val()+' :').click();"}
          %i.fa.fa-smile-o
        %a.btn.btn-default{onclick: "$('#comment_text').val($('#comment_text').val()+' [text](link-here)').click();"}
          %i.fa.fa-link
        %a.btn.btn-default{onclick: "textcover($('#comment_text')[0], '_')"}
          %i.fa.fa-italic
        %a.btn.btn-default{onclick: "textcover($('#comment_text')[0], '**')"}
          %i.fa.fa-bold
 
    .comment-form-body
      .tab-content
        #markdown-source.tab-pane.active.fade.in{ role: 'tab-pane' }
          = f.text_area :text, :placeholder => "Your comment. You can use markdown.", :class => 'form-control input-lg markdown-source-text', :required => "required"
        #markdown-preview.tab-pane.fade{ role: 'tab-pane' }
          #loading-spinner
            = fa_icon 'spinner pulse 3x'
          #preview-contents.hidden

  %p
    = button_tag(type: 'submit', class: "btn btn-success pull-right") do
      %i.fa.fa-plus
      Add Comment
