.row
  .col-sm-12
    %h2 Add a comment
    - if @comment.errors.any?
      #error_explanation
        %h3
          = pluralize(@comment.errors.count, "error")
          prohibited this project from being saved:
        %ul
        - @comment.errors.full_messages.each do |msg|
          %li
            = msg
    = render :partial => 'comments/help'
    = form_for [@parent, @comment], html: {role: "form"} do |f|
      %p
        = f.text_area :text, :placeholder => "Your comment...", :class => 'form-control input-lg', :required => "required"
      %p
        = f.submit 'Add comment', :class=> 'btn btn-success pull-right'
