.col-sm-12
  - @projects.each_with_index do |project, index|
    = render :partial => "projects/list_item", :locals => {:project => project, :index => index }


  - content_for :title do
    Users
  - @users.each do |user|
    = link_to user_path(user) do
      = image_tag(user.gravatar_url(:size => "24"), :class => "img-thumbnail", :title => "#{user.name}", :alt => user.name)
      = user.name
      .br
