.col-sm-12
  .media
    = image_tag  "pin.png", :class => "media-object pull-left"
    .media-body
      %h4.media-heading
        Hack Week 9 awards winners announced
        %span.label.label-default
          28th Jun 2013
      %p
        The winners of the Hack Week 9 awards have been announced:
        %ul
          %li
            %b Best Overall Project:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Kill-YCP-by-Mechanical-Translation"} Kill YCP by Mechanical Translation
          %li
            %b Best openSUSE Project:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Geeko-Pumping-Iron-(ARM)-Session"} Geeko Pumping Iron (ARM) Session
          %li
            %b Best Team Effort:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Lightweight-KDE-based-desktop"} Lightweight KDE based desktop
          %li
            %b Best upstream contribution:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Encryption-support-for-VNC-Websockets-in-QEMU"} Encryption support for VNC Websockets in QEMU
          %li
            %b Best Enterprise project:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Ceph-Appliance"} Ceph appliance
          %li
            %b Best Cloud project:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Investigate-ESXi-and-Hyper-V-support-in-OpenStack-Grizzly"} Investigate ESXi and Hyper V support in OpenStack Grizzly
          %li
            %b Most Useful project:
            %a{:href => "https://github.com/SUSE/hackweek/wiki/Building-an-ARM-thermal-probe"} Building an ARM thermal probe
          %li
            %b Most Glorious Failure:
            The head crash of the disk recording the lightning talks at Nuremberg
      %p Congratulations to all winners!

  .media
    %a{:href=> "#", :class => "pull-left"}
      = image_tag  "pin.png", :class => "media-object"
    .media-body
      %h4.media-heading
        Get your Hack Week projects ready for the awards
        %span.label.label-default
          24th Apr 2013
      %p
        Hack Week 9 is over and we saw a lot of exciting projects. Now the only bit
        missing is choosing the winners of the Hack Week awards
      %p
        Please make sure that your project pages in the
        %a{:href => "https://github.com/SUSE/hackweek/wiki"} Hack Week Wiki
        are up to date and contain all the information the Hack Week award jury needs by end of this week. We'll use this as the base for choosing the winners.

  .media
    %a{:href=> "#", :class => "pull-left"}
      = image_tag  "pin.png", :class => "media-object"
    .media-body
      %h4.media-heading
        Record your Hack Week
        %span.label.label-default
          9th Apr 2013
      %p
        We are on day 2 of Hack Week 9. Lots of interesting projects are going on.
        Let's make sure that they are not happening in the hidden, but that they are
        visible to our colleagues and everybody else who is interested.
      %p
        Make sure your project is on the
        = succeed "." do
          %a{:href => "https://github.com/suse/hackweek/wiki"} Hack Week 9 Wiki
      %p
        It doesn't matter if it's a big project of a team of developers porting the
        distribution to a new platform, or if it's just the one small bug in your
        desktop you always wanted to fix. Just make sure that there is a trail of what
        you are doing on the Wiki.
      %p
        Another great way to document Hack Week is pictures and movies. There even are
        prizes for the best ones as part of the Hack Week awards.
      %p
        Record people in action, take photos of what you built, or portrait people
        hacking away on their projects. We have a
        = succeed "." do
          %a{:href => "http://www.flickr.com/groups/hackweek/"} Hack Week Flickr group
      %p
        Finally blog, tweet, dent, whatever, to let your colleagues, friends, and the
        community know what is happening. We use the hashtag #hackweek9.

  .media
    %a{:href=> "#", :class => "pull-left"}
      = image_tag  "pin.png", :class => "media-object"
    .media-body
      %h4.media-heading
        Hackweek 9 is coming!
        %span.label.label-default
          26th Mar 2013
      %p
        The week starting on April 8 will be Hack Week 9 at SUSE!
        %a{:href => "https://news.opensuse.org/2013/03/26/hackweek-9-is-coming/"} Read more on new.opensuse.org

  .media
    %a{:href=> "#", :class => "pull-left"}
      = image_tag  "pin.png", :class => "media-object"
    .media-body
      %h4.media-heading
        SUSE Hack Week 9 Begins April 8
        %span.label.label-default
          25th Mar 2013
      %p
        SUSE engineering team invites open source enthusiasts worldwide to explore ideas and passions.
        %a{:href => "https://www.suse.com/company/press/2013/3/suse-hack-week-nine-begins-april-eight.html"} Read more on suse.com