.btn-group
  .btn.btn-default{:title=>"#{user.name} had #{user.originated_projects.length} ideas"}
    = user.originated_projects.length
    %i.fas.lightbulb-o
  .btn.btn-default{:title=>"#{user.name} works on #{user.projects.length} projects"}
    = user.projects.length
    %i.fas.fa-puzzle-piece
  .btn.btn-default{:title=>"#{user.name} wrote #{user.comments.length} comments"}
    = user.comments.length
    %i.fas.fa-comments
  .btn.btn-default{:title=>"#{user.name} likes #{user.likes.length} projects"}
    = user.likes.length
    %i.fas.fa-heart
