- content_for :title do
  Edit
  = current_user.name

.row
  .col-md-12
    %h2 Edit user information
    = form_for(current_user, html: { class: 'form-horizontal' }) do |f|
      - if current_user.errors.any?
        #error_explanation
          %h2
            = pluralize(current_user.errors.count, "error")
            prohibited this project from being saved:
          %ul
          - current_user.errors.full_messages.each do |msg|
            %li
              = msg
      .form-group
        = f.label(:location, class: 'col-sm-2 control-label')
        .col-sm-10
          = f.text_field(:location, placeholder: "Location", class: 'form-control')
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            %label
              =f.check_box(:hide_email)
              Hide Email?
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit :class => "btn btn-default"
