.col-sm-12
  = image_tag(current_user.gravatar_url(:size => "48"), :class => "img-rounded", :title => "#{current_user.name}", :alt => current_user.name)
  %h2
    = current_user
  .clearfix
= render :partial => "projects", :locals => { :user => current_user }
.col-sm-12
  - if !current_user.keywords.empty?
    %p
      = current_user.keywords.map { |k| k.name }.join ", "
  = form_tag :action => "add_keyword", :id => current_user.id do |f|
    = text_field_tag :new_keyword
    = submit_tag "Add keyword"
.col-sm-12
  %h3 Recommended Projects
  %ul
  - current_user.recommended_projects.each do |project|
    %li
      = project.title
