= render :partial => "home/header"

%h2 Hack Week Home

%p Welcome to the Hack Week web site.

%p
  = image_tag @current_user.gravatar_url
  %em
    Logged in as #{@current_user.name} (#{@current_user.email})

%p
  = link_to "Show my public page", :action => "show", :id => @current_user.id

%h3 Projects

%ul
  - @current_user.projects.each do |project|
    %li
      = link_to project.title, project
      