- content_for :title do
  = @user.name

.col-sm-12
  .row
    .col-sm-12
      .page-header
        = image_tag(@user.gravatar_url(:size => "64"), :class => "img-thumbnail pull-left", :title => "#{@user.name}", :alt => @user.name)
        %h1
          = @user.name
          %br
          %small
            = @user.email
  .row
    .col-sm-8
      %ul.nav.nav-tabs
        -if current_user == @user and @user.projects.empty?
          %li.active
            %a{:href=>"#recommended", "data-toggle"=>"tab"}
              Opportunities
        -else
          %li.active
            %a{:href=>"#projects", "data-toggle"=>"tab"}
              Works on
        %li
          %a{:href=>"#ideas", "data-toggle"=>"tab"}
            Originated
        %li
          %a{:href=>"#likes", "data-toggle"=>"tab"}
            Likes
        - unless @user.projects.empty?
          %li
            %a{:href=>"#recommended", "data-toggle"=>"tab"}
              Opportunities
      .tab-content{:style=>"padding-top: 10px"}
        -if current_user == @user and @user.projects.empty?
          .tab-pane.active#recommended
            - if @user.recommended_projects.empty?
              %p no project is matching your keywords yet, try adding some more.
            - else
              - @user.recommended_projects.each_with_index do |project, index|
                - if index % 3 == 2 or index == 0
                  .row
                .col-sm-6
                  = render :partial => "projects/tile", :locals => {:project => project }
        - else
          .tab-pane.active#projects
            - if @user.projects.empty?
              %p no projects currently
            - else
              - @user.projects.each_with_index do |project, index|
                - if index % 3 == 2 or index == 0
                  .row
                .col-sm-6
                  = render :partial => "projects/tile", :locals => {:project => project }
        .tab-pane#ideas
          - if @user.originated_projects.empty?
            %p no ideas yet
          - else
            - @user.originated_projects.each_with_index do |project, index|
              - if index % 3 == 2 or index == 0
                .row
              .col-sm-6
                = render :partial => "projects/tile", :locals => {:project => project }
        .tab-pane#likes
          - if @user.favourites.empty?
            %p no projects yet
          - else
            - @user.favourites.each_with_index do |project, index|
              - if index % 3 == 2 or index == 0
                .row
              .col-sm-6
                = render :partial => "projects/tile", :locals => {:project => project }
        -unless @user.projects.empty?
          .tab-pane#recommended
            - if @user.recommended_projects.empty?
              %p no opportunities yet
            - else
              - @user.recommended_projects.each_with_index do |project, index|
                - if index % 3 == 2 or index == 0
                  .row
                .col-sm-6
                  = render :partial => "projects/tile", :locals => {:project => project }
    .col-sm-4
      .col-sm-12
        .text-center
          = render :partial => "users/buttons", :locals => {:user =>  @user }
      .col-sm-12
        %p
          %h4 Looking for projects around:
          - if @user.keywords.empty?
            %p Nothing at the moment
          - else 
            %p
              = render :partial => "keywords/show", :locals => {:keywords =>  @user.keywords }
          -if can? :add_keyword, @user
            %p
              = render :partial => "keywords/new", :locals => {:what => @user }
      .col-sm-12
        %h4
          Activity
          %span.pull-right
            = render :partial => "updates/show_all_modal", :locals => { :updates => @user.updates }
        %ul
        - @user.updates.reverse.first(5).each do |update|
          %li
            = render :partial => "updates/show", :locals => { :update => update }