- content_for :title do
  User
  = @user.name

.row
  .col-sm-12
    .page-header
      = image_tag(@user.gravatar_url(:size => "64"), :class => "img-thumbnail pull-left", :title => "#{@user.name}", :alt => @user.name)
      %h1
        &nbsp;
        = @user.name
      %h4
        &nbsp; &nbsp;
        = @user.location
      .clearfix
.row
  .col-sm-8
    = render :partial => "users/tabs"
    .tab-content{:style=>"padding-top: 10px"}
      .tab-pane.active#projects
        - if @projects.empty?
          = render :partial => "empty_projects"
        - else
          = render :partial => "projects/list", locals: { projects: @projects }
  .col-sm-4
    .row
      .col-sm-12
        .text-center
          = render :partial => "users/buttons", :locals => {:user =>  @user }
    .row
      .col-sm-12#keywords
        %h4 Looking for projects around:
        - if @user.keywords.empty?
          %p Nothing at the moment
        - else
          = render :partial => "keywords/show", :locals => {:keywords =>  @user.keywords }
        -if can? :add_keyword, @user
          = render :partial => "keywords/new", :locals => {:what => @user }
    .row
      .col-sm-12
        = render partial: 'updates/activity'