- @textarea = "$(this).closest('form').find('textarea')"
%a.btn.btn-default{onclick: "#{@textarea}.val(#{@textarea}.val() + ' @').click();"}
  %i.fas.fa-at
%a.btn.btn-default{onclick: "#{@textarea}.val(#{@textarea}.val() + ' :').click();"}
  %i.fas.fa-smile
%a.btn.btn-default{onclick: "#{@textarea}.val(#{@textarea}.val() + ' [text](link-here)').click();"}
  %i.fas.fa-link
%a.btn.btn-default{onclick: "textcover(#{@textarea}[0], '_')"}
  %i.fas.fa-italic
%a.btn.btn-default{onclick: "textcover(#{@textarea}[0], '**')"}
  %i.fas.fa-bold
