- content_for :title do
  Hackweeks

.row
  .col-sm-12
    - if @episodes.length > 0
      .row
        .col-sm-12
          %table.table#episodes_table
            %thead
              %th Name
              %th Date
              %th Actions
            - @episodes.each do |episode|
              %tr{class: "#{episode.active}"}
                %td
                  = link_to episode_path(episode) do
                    = episode.name.titleize
                  - if episode.active
                    %span.label.label-success
                      Active
                %td
                  = "#{episode.start_date} - #{episode.end_date}"
                %td
                  = render :partial => "episodes/file_buttons", :locals => {:episode => episode }
    %p
      - if can? :write, Episode
        = link_to "New Hackweek", new_episode_path, :class => "btn btn-success pull-right"