%h2 Hack Week Home

%p Welcome to the Hack Week web site.

%p
  = link_to "Projects", :controller => "projects"

%p
  = image_tag @current_user.gravatar_url
  %em
    Logged in as #{@current_user.name} (#{@current_user.email})

%h3 Projects

%ul
  - @current_user.projects.each do |project|
    %li
      = link_to project.title, project