- content_for :title do
  Events

.col-sm-12
  - if @events.length > 0
    .row
      .col-sm-12
        %table.table#events_table
          %thead
            %th Name
            %th Date
            %th Actions
          - @events.each do |event|
            %tr
              %td
                = link_to event_path(event) do
                  = event.name.titleize
              %td
                = "#{event.start} - #{event.end}"
              %td
                = render :partial => "events/file_buttons", :locals => {:event => event }
  %p
    - if can? :write, Event
      = link_to "New event", new_event_path, :class => "btn btn-success pull-right"