.btn-group
  - if project.users.include? current_user
    = link_to(leave_project_path(project.id), :title => 'Stop working on this project?', :class => 'btn btn-default') do
      = project.users.length
      %i.icon-stop
  - else
    = link_to(join_project_path(project.id), :title => 'Work on this project?', :class=>'btn btn-default') do
      = project.users.length
      %i.icon-play
  - if project.kudos.include? current_user
    = link_to(dislike_project_path(project.id), :title=>'Dislike this project?', :class=> "btn btn-default") do
      = project.kudos.length
      %i.icon-heart
  - else
    =link_to(like_project_path(project.id), :title=>'Like this project', :class=> "btn btn-default") do
      = project.kudos.length
      %i.icon-heart-empty
  - if can? :edit, project
    = link_to(edit_project_path(project), :title=>'Edit this project?', :class=> "btn btn-default") do
      &nbsp;
      %i.icon-pencil
  -if can? :destroy, project
    = link_to(project_path(project), :title=>'Delete this project?', :class=> "btn btn-default", :method => :delete, data: { confirm: "Are you sure you want to delete this project? This can't be undone!" }) do
      &nbsp;
      %i.icon-remove