= render :partial => 'comments/help'
= form_for @project, :url => (@project.new_record? ? projects_path : project_path(@episode, @project)), html: { role: "form"}, :class => "form-horizontal" do |f| 
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:

      %ul
      - @project.errors.full_messages.each do |msg|
        %li
          = msg

  .field
    = f.text_field :title, :placeholder => "The projects title", :class => 'form-control', :required => "required"
    
  .field
    = f.text_area :description, :rows => "10", :placeholder => "Add a detailed description of your idea. You can use markdown.", :class => 'form-control'
  .form-group
    .control-label
      = f.label(:avatar)
    .form-control
      = f.file_field :avatar
  .actions
    = f.submit :class => "btn btn-success pull-right"


