= render partial: 'comments/help'
= form_for @project, url: (@project.new_record? ? projects_path : project_path(@episode, @project)), html: { role: :form } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, 'error')
        prohibited this project from being saved:
      %ul
      - @project.errors.full_messages.each do |msg|
        %li
          = msg

  .form-group
    = f.text_field :title, placeholder: 'Project title', class: 'form-control input-lg', required: 'required'
  
  .panel.panel-default
    .panel-heading
      %ul.nav.nav-pills
        %li.active#show-source{ role: :presentation }
          %a{ href: '#' } Edit
        %li#show-preview{ role: :presentation }
          %a{ href: '#' } Preview
    .panel-body
      .tab-content
        .tab-pane.form-group.markdown-source.active
          = f.text_area :description, rows: 20, placeholder: 'Detailed description of your idea. You can use **markdown**.', class: 'form-control input-lg'
        .tab-pane.markdown-preview
          .loading-spinner
            = fa_icon 'spinner pulse 3x'
          #preview-contents.hidden

  .form-group
    = f.label(:avatar)
    = f.file_field :avatar
  = f.submit class: 'btn btn-success pull-right'


