= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:

      %ul
      - @project.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.text_field :title, :placeholder => "The projects title"
    
  .field
    = f.text_area :description, :placeholder => "Add a detailed description of what you want to hack on. You can use markdown."
    
  .actions
    = f.submit
