= render partial: 'comments/help'
= form_for @project, url: (@project.new_record? ? projects_path : project_path(@episode, @project)), html: { role: :form } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, 'error')
        prohibited this project from being saved:
      %ul
      - @project.errors.full_messages.each do |msg|
        %li
          = msg

  .form-group
    = f.text_field :title, placeholder: 'Project title', class: 'form-control input-lg', required: 'required'

  .form-group
    %a.btn.btn-default.markdown-preview{ href: '#' }
      = fa_icon :eye
      Preview
    = f.text_area :description, rows: 20, placeholder: 'Detailed description of your idea. You can use **markdown**.', class: 'form-control input-lg markdown-preview-source'

  .form-group
    = f.label(:avatar)
    = f.file_field :avatar
  = f.submit class: 'btn btn-success pull-right'


