Updated
= "#{time_ago_in_words project.updated_at}"
ago.
- if project.kudos.length > 0
  = pluralize(project.kudos.length, "hackers ♥️.", "hacker ♥️.")
-else 
  No love.

- if project.project_followers.any?
  = link_to(project_followers_path(project)) do
    = pluralize(project.project_followers.count, 'follower.', 'followers.')

- if project.users.empty?
  Has no hacker:
  = link_to 'grab it!', join_project_path(project.id), method: :post, remote: true
