%ul.thumbnails
  - projects.each do |project|
    - size = "span3"
    - if project.description.length > 500
      - size = 'span4'
    - elsif project.description.length < 50
      - size = 'span2'
    %li{:id => "#{size}"}
      .thumbnail
        .btn-toolbar
          .btn-group.pull-right
            %a{:href => "#", :class => "btn btn-inverse disabled"}
              %i.icon-white.icon-thumbs-up
            = link_to({:controller => 'projects', :id => project.id}, {:method => :delete, :confirm => 'Are you sure? This will delete the project!', :class => "btn btn-inverse disabled"}) do
              %i.icon-white.icon-trash
            = link_to({:controller => 'projects', :id => project.id, :action => 'edit'}, {:class => "btn btn-inverse disabled"}) do
              %i.icon-white.icon-wrench
        %h3= link_to project.title, project
        %p
          = project.description.length
          :markdown
            #{project.description}
