.row
  - projects.each do |project|
    .span12.sticky
      %span.scratch
      = link_to({:controller => "users", :action => "show", :id => project.originator.id}, {:class => "pull-right"}) do
        by
        = image_tag(project.originator.gravatar_url(:size => "32"), :class => "img-rounded originator", :title => "#{project.originator.name} had this idea", :alt=>project.originator.name, )
      .paper
        = link_to({:controller => 'projects', :action => 'show', :id => project.id}) do
          = project.title
        %p
          :markdown
            #{truncate(project.description, :omission => "...", :length => 200)}




