%h4.project-list-item{:id => "project-#{index}"}
  = link_to project_path(@episode, project) do
    = image_tag(project.avatar.url(:thumb), width: '20')
    = project.title

%p{:style=>"margin-top: 0px"}
  %small
    = render :partial => "projects/state_name", :locals => {:project => project }
    by
    = link_to(user_path(project.originator)) do
      #{project.originator.name}
      = render :partial => "projects/like_button", :locals => {:project => project }
:markdown
  #{truncate(project.description, length: 140)}
- unless project.users.empty?
  .well.well-sm
    - project.users.each do |user|
      = link_to user_path(user) do
        = image_tag(user.gravatar_url(:size => "24"), :class => "img-thumbnail", :title => "#{user.name}", :alt => user.name)
%span.help-block
  %small
    = render :partial => "projects/info", :locals => {:project => project }
