#watch_buttons.btn-group.col-md-12
  - if current_user.project_followings.include? project
    = link_to unfollow_project_path(episode, project), class: 'btn btn-default watch_action' do
      %i.fa.fa-eye-slash
      Unwatch
  - else
    = link_to follow_project_path(episode ,project), class: 'btn btn-default watch_action' do
      %i.fa.fa-eye
      Watch
  = link_to "#{project.project_followers.count}", '#', class: 'btn btn-default', data: { toggle: 'modal', target: '#watchers-modal' }

#watchers-modal.modal.fade{'aria-labelledby' => 'watchers-modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×
        %h2#watchers-modal-label.modal-title Watchers of #{project.title}
      .modal-body
        - project.project_followers.each do |follower|
          = link_to user_path(follower) do
            .project_watcher_box
              .col-md-4
                = image_tag(follower.gravatar_url(size: '40'), class: 'media-object img-rounded', alt: follower.name, title: follower.name)
              .col-md-8
                %h3
                  #{follower.name}
                - if follower.location
                  %p
                    %i.fa.fa-map-marker
                    = follower.location
