.panel.panel-info
  .panel-heading
    %h3.panel-title
      = link_to project_path(project) do
        = project.title
        = render :partial => "projects/like_button", :locals => {:project => project }
  .panel-body
    :markdown
      #{truncate(project.description, length: 140)}
    .user-list{:style=>"padding-top: 10px;"}
      - if project.users.empty?
        .alert.alert-warning
          Holy moly! This project has no developer yet and is up for
          = link_to 'grabs!', join_project_path(project.id), :class => "alert-link"
      - else
        .well.well-sm
          - project.users.each do |user|
            = link_to user_path(user) do
              = image_tag(user.gravatar_url(:size => "24"), :class => "img-thumbnail", :title => "#{user.name}", :alt => user.name)
  .panel-footer
    %small
      an idea by
      = link_to(user_path(project.originator)) do
        #{project.originator.name},
      updated
      = "#{time_ago_in_words project.updated_at}"
      ago
