.panel.panel-info
  .panel-heading
    %h3.panel-title
      = link_to project_path(project) do
        = project.title
  .panel-body
    = truncate(project.description, length: 140)
    .user-list{:style=>"padding-top: 10px;"}
      - if project.users.empty?
        Holy moly! This project has no developer yet and is up for
        = link_to 'grabs!', join_project_path(project.id)
      - else
        - project.users.each do |user|
          = link_to user_path(user) do
            = image_tag(user.gravatar_url(:size => "48"), :class => "img-thumbnail pull-left", :title => "#{user.name}", :alt => user.name)
  .panel-footer
    .row
      .pull-left{:style=>"padding-left: 5px;"}
        = render :partial => "projects/buttons", :locals => {:project => project }
      .pull-right
        %p.text-right{:style=>"font-size: 0.8em; padding-right: 5px;"}
          an idea by
          = link_to(user_path(project.originator.id)) do
            #{project.originator.name},
          %br
          updated
          = "#{time_ago_in_words project.updates.last.created_at}"
          ago