- content_for :title do
  Projects
  = "(#{@projects.length})"

.row
  .col-md-6.col-md-offset-3.text-center
    %h1 Hackweek
.row
  .col-md-6
    %h2 Popular
    - @popular.each do |p|
      .media
        = link_to project_path(p), class: "pull-left" do
          = image_tag p.avatar.url(:thumb), class: "media-object"
        .media-body
          = link_to project_path(p) do
            %h4.media-heading
              = p.title
          %i.fa.fa-group
          = pluralize(p.memberships.count, 'dev')
          %i.fa.fa-thumbs-up
          = p.likes.count
  .col-md-6
    %h2 New
    - @new.each do |p|
      .media
        = link_to project_path(p), class: "pull-left" do
          = image_tag p.avatar.url(:thumb), class: "media-object"
        .media-body
          = link_to project_path(p) do
            %h4.media-heading
              = p.title
          %i.fa.fa-group
          = pluralize(p.memberships.count, 'dev')
          %i.fa.fa-thumbs-up
          = p.likes.count
