- content_for :title do
  = @project.title

.row
  .col-md-12
    .page-header.media
      .pull-left
        %h3
          = @project.title
          %br
          %small
            = render :partial => "projects/state_name", :locals => {:project =>  @project }
            by
            = link_to @project.originator.name, @project.originator
      .pull-right
        %button.btn.btn-default#play-pause-button{ data: { running: :true } }
          =fa_icon :pause, id: 'play-pause-icon'
.row
  .col-sm-8
    :markdown
      #{@project.description}
  .col-sm-4
    .row
      .col-sm-12
        %h5
          - if @project.users.empty?
            No hackers.
          -else
            Hackers:
            .well.well-sm#hackers
              - @project.users.each do |user|
                = link_to user_path(user) do
                  = image_tag user.gravatar_url(:size => "64"), alt: user.name, title: user.name, class: "img-thumbnail", id: "user#{user.id}-gravatar"
              .clearfix

    .row
      .col-sm-12
        %h5
          Activity:
        %ul
        - @project.updates.last(5).reverse.each do |update|
          %li
            = render :partial => "updates/show", :locals => { :update => update }

- content_for :script do
  :javascript
    $(function() {
      $('#play-pause-button').click(function() {
        var button = $('#play-pause-button');
        var icon = $('#play-pause-icon');
        var running = Boolean(button.data("running"));

        button.data("running", !running);
        icon.toggleClass('fa-play fa-pause');
      });

      window.setInterval(function() {
        var running = Boolean($('#play-pause-button').data("running"));
        if (running) {
          location.reload();
        }
      }, 30000);
    });
