.row.paper
  .span12.scratch
  .span11.project
    .row
      .span6
        %h2
          = @project.title
          - if @project.kudos.include? @current_user
            = link_to({:action => "dislike", :id => @project.id}, :title=>'Dislike this', :method => :post) do
              %i.icon-star.pull-right
          - else
            = link_to({:action => "like", :id => @project.id}, :title=>'I like this', :method => :post) do
              %i.icon-thumbs-up.pull-right
        %p{:style=>"margin-top:-10px;"}
          a nice idea by
          = link_to(:controller => "users", :action => "show", :id => @project.originator.id) do
            #{@project.originator.name}
      .span5
        = link_to(edit_project_path(@project), :title=>"Edit Project") do
          %i.icon-pencil.icon-2x.pull-right
    .row
      .span6
        %p
          :markdown
            #{@project.description}
      .span5
        - if @project.users.empty?
          %h4 Project is up for grabs.
        - else
          %h4 Hackers
          - @project.users.each do |user|
            = link_to(:controller => "users", :action => "show", :id => user.id) do
              = image_tag user.gravatar_url(:size => "64")
        %p
        - if @project.users.include? @current_user
          = button_to 'Leave this project', {:action => "leave", :id => @project.id}, :class=>"btn btn-danger btn-large pull-right"
        - else
          = button_to 'Join this project', {:action => "join", :id => @project.id}, :class=>"btn btn-success btn-large pull-right"
    .row
      .span6.material
        %h4 Material
        %ul
          %li
            =link_to "Ruby on Rails", "http://www.rubyonrails.org/"
          %li
            =link_to "Google", "http://www.google.com"
          %li
            =link_to "SUSE", "http://www.suse.com"
          
      .span5.looking
        %h4 Looking for
        %ul
          %li Ruby Developer
          %li Packager
          %li Graphic Designer

    .row
      .span6.updates
        %h4 Updates
        - @project.updates.reverse.last(5).each do |update|
          %p
            = "#{time_ago_in_words update.created_at} ago: #{update.text}"
        %a{:href=>"#UpdatesModal", :role=>"button", :class=>"btn btn-info btn-mini pull-right", "data-toggle"=>"modal"}
          %i.icon-pushpin
          All
        .modal.hide.fade{:id=>"UpdatesModal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"UpdatesModalLabel", "aria-hidden"=>"true"}
          .modal-header
            %button{:type=>"button", :class=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"}×
            %h3{:id=>"UpdatesModal"}
              All Updates for
              = @project.title
          .modal-body
            - @project.updates.reverse_each do |update|
              %p
                = "#{time_ago_in_words update.created_at} ago: #{update.text}"
          .modal-footer
            %button{:class=>"btn btn-primary", "data-dismiss"=>"modal", "aria-hidden"=>"true"}Close

      .span5.agenda
        %h4 Agenda
        %ul
          %li 11:00 Coffee
          %li 15:00 Lightning Talk
          %li 18:00 We meet for beer at the NBG main entrance
    .row
      .span11.comments
        %h4 Comments
        %ul.comments
          = render :partial => 'comments/comment', :collection => @project.comments
        %p
        - if @current_user
          = form_for [ @project, @new_comment ] do |f|
            %p
              = f.text_area :text, :cols => 80, :rows => 10, :witdh => "100%"
              
            %p
              = f.submit 'Add comment'
        - else
          = link_to 'Add a comment', new_project_comment_path( @project )
