.col-sm-12
  .row
    .col-sm-12
      .page-header
        %h1
          = @project.title
          %br
          %small
            an idea of
            = @project.originator.name
  .row
    .col-sm-8
      :markdown
        #{@project.description}
    .col-sm-4
      .row
        .col-sm-12
          .text-center
            = render :partial => "projects/buttons", :locals => {:project =>  @project }
        .col-sm-12
          %h4 Hackers
          - if @project.users.empty?
            = link_to(join_project_path(@project), :class => "btn btn-warning btn-lg") do
              No one? Join this project!
          - else
            - @project.users.each do |user|
              = link_to(user_path(user.id)) do
                = image_tag user.gravatar_url(:size => "64"), alt: user.name, title: user.name, class: "img-thumbnail"
        .col-sm-12
          %h4 Looking for mad skills in:
          - if @project.keywords.empty?
            %p Nothing? Add some keywords!
          - else 
            %p
              = render :partial => "keywords/show", :locals => {:keywords =>  @project.keywords }
          -if  @project.originator == current_user or @project.users.include? current_user
            %p
              = render :partial => "keywords/new", :locals => {:what => @project }
        .col-sm-12
          %h4
            Activity
            %span.pull-right
              = render :partial => "updates/show_all_modal", :locals => { :updates => @project.updates }
          %ul
          - @project.updates.reverse.first(5).each do |update|
            %li
              = render :partial => "updates/show", :locals => { :update => update }
  .row
    .col-sm-12
      %h4
        Comments
      %ul.media-list
        = render :partial => 'comments/comment', :collection => @project.comments
      %p
        - if current_user
          = form_for [ @project, @new_comment ], html: {role: "form"} do |f|
            %p
            = f.text_area :text, :placeholder => "Your comment...", :class => 'form-control input-lg', :required => "required"
            %p
            = button_tag(type: 'submit', class: "btn btn-success pull-right") do
              %i.icon-plus-sign
              Add Comment
        - else
          = link_to 'Add a comment', new_project_comment_path( @project ), :class => 'btn btn-default'
