<%= render :partial => "home/header" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Originator:</b>
  <%= @project.originator.name %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'All Projects', projects_path %>
