%h2
  = @project.title
  
%h3 Description

= @project.description

%h3 People

- if @project.users.empty?
  %p
    Project is up for grabs.
- else
  %ul
    - @project.users.each do |user|
      %li
        = image_tag @current_user.gravatar_url
        = link_to user.name, :controller => "users", :action => "show", :id => user.id

- if @project.users.include? @current_user
  = button_to 'Leave', :action => "leave", :id => @project.id
- else
  = button_to 'Join', :action => "join", :id => @project.id


%h3 Updates

- @project.updates.each do |update|
  = "#{update.created_at}: #{update.text}"
  
%hr

= link_to 'Edit', edit_project_path(@project)
|
= link_to 'All Projects', projects_path
