%h2 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email
    = f.email_field :email, :autofocus => true
  %p
    = f.label :password
    = f.password_field :password

  - if devise_mapping.rememberable?
    %p
      = f.label :remember_me
      = f.check_box :remember_me

  %p
    = f.submit "Sign in"
  %p
    = render "devise/shared/links"
