- content_for :title do
  Gallery

.row
  - @pictures.each do |pic|
    .col-sm-6.col-md-3
      = link_to "/gallery/.display/#{pic}", :class => "thumbnail swipebox", :title =>"#{pic}" do
        = image_tag "/gallery/.thumbnails/#{pic}"

- content_for :script do
  :javascript
    jQuery(function($) {
      $(".swipebox").swipebox();
    });