- keywords.each do |word|
  %span.badge.keyword
    = word.name
    - if current_user
      - if @project and can? :delete_keyword, @project
        = link_to(keyword_project_path(keyword: word.name), :method => :delete, :id => "remove-#{word.id}") do
          %i.fa.fa-times{:style=>"color: #fff"}
      - if @user and can? :remove_keyword, @user
        = link_to(keyword_user_path(keyword: word.name), :method => :delete, :id => "remove-#{word.id}") do
          %i.fa.fa-times{:style=>"color: #fff"}
