- if @episode
  - keyword_count = Keyword.by_episode(@episode).count
  .row
    .col-sm-9
      %h2
        All featured topics in this Hack Week
        %span.badge
          = keyword_count
      - @keywords.each do |keyword|
        .media
          .media-left
            - if keyword.avatar.attached?
              = image_tag(url_for(keyword.avatar), width: '150')
            - else
              %img{"data-src": "holder.js/150x150?text=#{keyword.name}"}
          .media-body
            %h4.media-heading
              = link_to keyword_path(episode: @episode, name: keyword.name) do
                = keyword.name
              %span.badge
                = keyword.projects.by_episode(@episode).count
            %p
              -if keyword.description
                = keyword.description
              - else
                Explore all the projects about
                = keyword.name
    .col-sm-3
      %h2
        Popular topics
      %p
        %ol
          - @popular_keywords.each do |keyword|
            %li
              = link_to(keyword_path(episode: @episode, name: keyword.name)) do
                = keyword.name
              %span.badge
                = keyword.projects.by_episode(@episode).count
  .row
    .col-sm-12.text-center
      = paginate @keywords
      %p
        =link_to(keywords_path(@episode, page_size: keyword_count), class: 'btn btn-default') do
          View All
          = keyword_count
          Keywords
