.row
  .col-md-12
    .page-header
      - if @episode
        %h1
          = @episode.name
          %small
            = "#{@episode.start_date.strftime("%A %d %B")} - #{@episode.end_date.strftime("%A %d %B %Y")}"
      - else
        %div
          = image_tag 'hackweek-label.png', class: 'img-responsive', alt: 'Hack Week'
.row
  .col-md-7
    - if @episode.try(:description).blank?
      %p.lead
        Hack Week is the time SUSE engineers experiment, innovate &amp; learn interruption-free
        for a whole week! Across teams or alone, but always without limits.
      %p.lead
        A SUSE tradition since 2007, Hack Week has brought together hundreds of hackers around
        the globe to collaborate on open source. Learn more
        = link_to about_path do
          about Hack Week.
      %p.lead
        What are you going to hack on?
    - else
      :markdown
        #{ @episode.description }
  .col-md-5
    = image_tag 'hackweek-logo-dark.png', class: 'img-responsive', alt: 'Hack Week'

.row
  .col-md-8.col-md-offset-2
    %p
      .btn-group.btn-group-justified.btn-group-lg
        = link_to new_project_path, class: 'btn btn-lg btn-info' do
          Start
          %span.hidden-xs
            a Project
        = link_to projects_path(@episode), class: 'btn btn-lg btn-success' do
          Join
          %span.hidden-xs
            a Project

- if @episode
  .row
    .col-sm-12
      %h2
        Topics
  .row
    - @popular_keywords.sample(3).each do |keyword|
      .col-sm-4
        .well#topic-highlight
          - if keyword.avatar_file_name
            = image_tag(keyword.avatar.url(:thumb), width: '150', class: 'img-responsive center-block')
          - else
            %img{src: "holder.js/150x150?text=#{keyword.name}", class: 'center-block'}
          = link_to keyword_path(@episode, keyword.name) do
            %h2.text-center
              = keyword.name
          %p
            = truncate(keyword.description, length: 100) if keyword.description
  .row
    .col-sm-9
      %h2
        All featured topics in this Hack Week
      - @keywords.each do |keyword|
        .media
          .media-left
            - if keyword.avatar_file_name
              = image_tag(keyword.avatar.url(:thumb), width: '150')
            - else
              %img{src: "holder.js/150x150?text=#{keyword.name}"}
          .media-body
            %h4.media-heading
              = link_to keyword_path(episode: @episode, name: keyword.name) do
                = keyword.name
            %p
              -if keyword.description
                = keyword.description
              - else
                Explore all the projects about
                = keyword.name
    .col-sm-3
      %h2
        Popular topics
      %p
        %ol
          - @popular_keywords.each do |keyword|
            %li
              = link_to(keyword_path(episode: @episode, name: keyword.name)) do
                = keyword.name

