.row
  .col-md-12
    %div
      = image_tag 'hackweek-logo-light.png', class: 'img-responsive img-center', alt: 'SUSE Hack Week Logo'
.row
  .col-md-7
    .page-header
      - if @episode
        %h1
          = @episode.name
          %small
            = "#{@episode.start_date.strftime("%A %d %B")} - #{@episode.end_date.strftime("%A %d %B %Y")}"
      - else
        %div
          = image_tag 'hackweek-label.png', class: 'img-responsive', alt: 'Hack Week'
    .row
      .col-md-12
        %p.lead
          is the time SUSE engineers experiment, innovate &amp; learn interruption-free.
          Across teams or alone and always without limits!

        %p.lead
          A SUSE tradition since 2007, Hack Week has brought together hundreds of hackers at SUSE
          and on open source communities around the globe to collaborate on open source.

        %p.lead
          Hack Week 16 aka 0x10 is the upcoming! It is starting on Thursday, November 10th until November 16th 2017.

        %p.lead
          = link_to 'Learn more', about_path
          about Hack Week.
  .col-md-5
    %div
      = image_tag 'hw_0x10_with_text_new.png', class: 'img-responsive', alt: 'Hack Week 0x10'
.row
  .col-md-12
    .well.well-lg
      %p.lead Welcome to Hackweek 0x10 from Ralf Flaxa, President of SUSE R&D:
      .embed-responsive.embed-responsive-16by9#intro
        %video{:width => 320, :height => 240, :controls => true}
          %source{:src => "assets/Hackweek_16_Welcome_by_Ralf.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
.row
  .col-md-12
    %p.lead
      What are you going to hack on? Start by submitting your projects here!
.row
  .col-md-8.col-md-offset-2
    %p
      .btn-group.btn-group-justified.btn-group-lg
        = link_to new_project_path, class: 'btn btn-lg btn-info' do
          Start
          %span.hidden-xs
            a Project
        = link_to projects_path(@episode), class: 'btn btn-lg btn-success' do
          Join
          %span.hidden-xs
            a Project
