.row
  .col-sm-8.col-sm-offset-2
    .page-header
      %h1
        Hack Week
        %small
          \- Innovate, collaborate, and learn.
    %p.lead
      In the past Hack Week has incubated software that brought SUSE products
      to life like the
      = link_to 'openSUSE ARM port,', 'https://en.opensuse.org/Portal:ARM'
      projects that benefit the whole free software ecosystem like
      = link_to 'Inqlude', "https://inqlude.org/"
      (a Qt library archive) and tools like
      = link_to 'Jangouts', 'https://github.com/jangouts/jangouts'
      (open source video conferencing)
      that our engineers came up with to scratch their own itch. What are you
      going to add to this collection?

    %h3 Innovate
    %p
      Use this opportunity to work on any activity of your passion. You choose
      if you contribute to an existing free software project or if you explore
      strange new languages, seek out new tools and new communities, if you
      boldly go where no hacker has gone before! Just
      = link_to 'record your ideas,', new_project_path
      about what people could hack on in this tool.
    %p
      And be open-minded, supportive, and respectful. Hack Week is a happy and
      constructive place. Support ideas you like, ignore ideas you don't like.
      Help to improve ideas of others, and accept help to improve your own. Hack
      Week is about discourse and open discussion. Please approach innovation
      with an open mind, respect, and the desire to support your fellow hackers!

    %h3 Collaborate
    %p
      We encourage you to find like-minded developers and team up to multiply
      your hacking power. Use the opportunity to work with people from other
      teams, departments or locations. Get together in an office and make use of
      all the nice things the Internet provides to collaborate remotely.
    %p
      Remember: we are an open company, and work transparently on free software.
      Share your code on the platform of your choice, and reference it from your
      project. Then let the community and the rest of the world know about what
      you are doing. Blog, tweet, publish videos, shout it from the roof tops so
      people can pick up your project, copy, distribute, study, change and
      improve it!

    %h3 Learn
    %p
      Hack Week is also the time to pick up new tricks, by yourself and from
      each other. Use this week to expand your horizon and maybe even crack the
      books. Acquire new information, reinforce what you know, adapt your
      behavior and expand your skills!

    %h3.text-success And don't forget to have a lot of fun ...
    %p
      If you need any support to enable and improve collaboration
      feel free to contact the
      = link_to 'Hack Week coordination team.', 'mailto:hackweek@suse.de'
