%footer
  .container
    .row
      .col-sm-12.text-center
        %div.col-sm-12.text-center
        %ul.nav.nav-pills.nav-justified
          %li
            = link_to(announcements_path) do
              %i.fa.fa-bullhorn
              News
          %li
            = link_to(about_path) do
              %i.fa.fa-question
              About
          %li
            = link_to(gallery_path) do
              %i.fa.fa-picture-o
              Pics
          %li
            = link_to('https://github.com/SUSE/hackweek/blob/master/CREDITS.md') do
              %i.fa.fa-heartbeat
              Credit.
        %p.small{style: 'padding-top: 25px'}
          &copy; 2017 SUSE.
          This tool is
          = link_to 'free software,', 'http://www.gnu.org/philosophy/free-sw.html'
          you can run, copy, distribute, study, change and improve it.
          The source code and the developers are on
          = link_to 'github.', 'https://github.com/SUSE/hackweek'
