%header.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to(root_path, {:name => "top", :class => "navbar-brand"}) do
        = image_tag("suse-logo-sketch.png", :width => "32px", :alt => "Home", :title => 'Hack Week Front Page')
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          = link_to(projects_path, {:id=>"projects_path", :alt=>"Projects", :title=>"List all Projects"}) do
            %i.fa.fa-puzzle-piece
            Projects
        %li
          = link_to(users_path, :id=>"users_path") do
            %i.fa.fa-user
            People
        - if user_signed_in?
          - if current_user.role? :organizer
            %li
              = link_to(announcements_path, :id=>"announcements_path") do
                %i.fa.fa-bullhorn
                Announcements
            %li
              = link_to(events_path, :id => "events_path") do
                %i.fa.fa-calendar
                Events
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :id => "user-dropdown"}
                  %i.fa.fa-plus
                  Create
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to(new_project_path, :id => "new_project_path") do
                      %i.fa.fa-puzzle-piece
                      Project
                  %li
                    = link_to(new_announcement_path, :id => "new_announcement_path") do
                      %i.fa.fa-bullhorn
                      Announcement
                  %li
                    = link_to(new_event_path, :id => "new_event_path") do
                      %i.fa.fa-calendar
                      Event
          - else 
            %li
              = link_to(new_project_path, {:id=>"new_project_path",:alt=>"Add Project", :title=>"Add Project"}) do
                %i.fa.fa-plus
                Create
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right.hidden-xs
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :id => "user-dropdown"}
              = image_tag(current_user.gravatar_url(:size => "22"), :title => "Yo #{current_user.name}!")
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to(me_users_path, :id => "me_users_path") do
                  %i.fa.fa-home
                  = current_user.name
              %li
                = link_to(destroy_user_ichain_session_path, :method => :delete, :id => "logout-link") do
                  %i.fa.fa-power-off
                  Log out
        %ul.nav.navbar-nav.navbar-right.visible-xs
          %li
            = link_to(me_users_path) do
              %i.fa.fa-home
              = current_user.name
          %li
            = link_to(destroy_user_ichain_session_path, :method => :delete, :id => "logout-link") do
              %i.fa.fa-power-off
              Log out
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to(new_user_ichain_session_path, :id => "login-link") do
              %i.fa.fa-signin
              Sign In
      %form{:role=>"search", :method=>"get", :class=>"navbar-form navbar-right", :action=>"#{search_path}", "accept-charset"=>"UTF-8"}
        .form-group
        = search_field_tag(:q, nil, {:class => "form-control", :placeholder => "Search", :type => "search", :name => "q"})
