%header.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to(root_path, {:name => "top", :class => "navbar-brand"}) do
        = image_tag("suse-logo-sketch.png", :width => "32px", :alt => "Home", :title => 'Hack Week Front Page')
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          = link_to(projects_path, {:alt=>"Projects", :title=>"List all Projects"}) do
            %i.icon-list.icon
            List Projects
        %li
          = link_to(new_project_path, {:alt=>"Add Project", :title=>"Add Project"}) do
            %i.icon-plus-sign-alt.icon
            Create Project
      - if current_user
        %ul.nav.navbar-nav.navbar-right.hidden-xs
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = image_tag(current_user.gravatar_url(:size => "22"), :title => "Yo #{current_user.name}!")
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to(me_users_path) do
                  %i.icon-home
                  = current_user.name
              %li
                = link_to(destroy_user_ichain_session_path, :method => :delete) do
                  %i.icon-off
                  Log out
        %ul.nav.navbar-nav.navbar-right.visible-xs
          %li
            = link_to(me_users_path) do
              %i.icon-home
              = current_user.name
          %li
            = link_to(destroy_user_ichain_session_path, :method => :delete) do
              %i.icon-off
              Log out
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to(new_user_ichain_session_path) do
              %i.icon-signin
              Sign In
      %form.navbar-form.navbar-right{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}
