%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Hackweek 
    %meta{:charset=> "utf-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag "application", :media => "all"
    %meta{:property => "og:title", :content => "SUSE Hack Week"}
    %meta{:property => "og:image", :content => "http://hackweek.suse.com/images/hackweek-logo-10.png"}
    %meta{:property => "og:site_name", :content => "SUSE Hack Week"}
    %meta{:property => "og:description", :content => "Hack Week is the week where SUSE engineers can experiment without limits. This is the opportunity to innovate, collaborate across teams, and learn."}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/header"
    .container.content
      - if flash
        = render partial: "layouts/alert", flash: flash
      .row
        = yield

      :javascript
	var pkBaseURL = (("https:" == document.location.protocol) ? "https://beans.opensuse.org/piwik/" : "http://beans.opensuse.org/piwik/");
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	
      :javascript
	try {
	  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 23);
	  piwikTracker.trackPageView();
	  piwikTracker.enableLinkTracking();
	} catch( err ) {}

      %noscript
        %p
	  %img{:src=>"http://beans.opensuse.org/piwik/piwik.php?idsite=23", :style=>"border:0", :alt=>''}
