%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title= content_for?(:title) ? yield(:title) : 'SUSE Hack Week'
    %meta{:charset=> "utf-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.terminal
    .container
      = render :partial => "layouts/header"

      = yield

      = render :partial => "layouts/footer"

    = render :partial => "layouts/scripts" if Rails.env.production?
    = yield :script
