%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title
      - if content_for?(:title)
        Hackweek Interstellar:
        = yield(:title)
      -else
        Hackweek Interstellar
    %meta{:charset=> "utf-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag "application", :media => "all"
    %meta{:property => "og:title", :content => "SUSE Hackweek Interstellar"}
    %meta{:property => "og:image", :content => "http://hackweek.suse.com/images/hackweek-logo-10.png"}
    %meta{:property => "og:site_name", :content => "SUSE Hack Week"}
    %meta{:property => "og:description", :content => "Hack Week is the week where SUSE engineers can experiment without limits. This is the opportunity to innovate, collaborate across teams, and learn."}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrap
      = render :partial => "layouts/header"
      .clear-top
        .container-fluid
          - if flash
            = render partial: "layouts/alert", flash: flash
          - if @news
            = render partial: "layouts/news"
          .row.content
            = yield
    = render :partial => "layouts/footer"
    = render :partial => "layouts/scripts"
    = yield :script
