!!!
%html
  %head
    %title= content_for?(:title) ? "Hack Week: #{yield(:title)}" : 'Hack Week'
    %meta{:content => 'initial-scale=1', :name => 'viewport'}
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #screenLock.hidden
      .screenLockAligned
        = image_tag('screen-lock/devices.png', class: 'devices')
        .lockMessage
          = image_tag('screen-lock/icons.png')
          %h5
            Please turn your screen into a Landscape position to see this website properly
      %p.copyright www.hackweek.suse.com

    #splash
      .lower-gate
      .upper-gate

    .container
      .menu
        #left-menu
          %ul
            - unless @current_user
              %li.menu-btn-login.login-bg
                %a{:href => new_user_ichain_session_path}
                  .outerCircle
                  .innerCircle
            - else
              %li.menu-btn-login.welcomeMsg
                .row
                  .col-xs-12
                    = 'Welcome Agent'
                  .col-xs-9
                    = link_to @current_user.name, me_users_path, :class => "username"
                  .col-xs-3.text-right
                    = link_to "<i class='fa fa-sign-out'></i>".html_safe, destroy_user_ichain_session_path, :method => :delete

            %li.menu-btn-twitter.row
              %a{:href => 'https://twitter.com/hashtag/HWinterstellar?src=hash', :target => "_blank"}
                .col-xs-4
                  .twitter-logo
                .col-xs-8
                  %p.hashtag
                    = '#HWinterstellar'

            %li.menu-btn-countdown
              %p.counter= days_to_launch
      .mainscreen-wraper
        - if flash
          = render partial: "layouts/alert", flash: flash
        - if @news
          = render partial: "layouts/news"
        .mainScreen.scrollbar
          = yield
        / Go Home button and contact
        #home-menu-contact
          .info-footer
            EMAIL: HACKWEEK@SUSE.DE
          .home-console
            .homeText Go Home
            = link_to '', root_path
          .info-footer
            IRC: #HACKWEEK on Freenode
      
      / Right Menu - navigation
      .menu
        %nav#right-menu
          %ul
            %li.menu-btn-mainMenu
            /= link_to 'Announcements', announcements_path
            %li.menu-btn-joinproject
              = link_to '', projects_path(@episode)
            %li.menu-btn-createproject
              = link_to '', new_project_path(@episode)



    / asteroids for the background go here
    = image_tag('asteroid.png', class: 'asteroid')
    / layered background -->
    .nebula-down
    .nebula-up
    .bg-small-stars
    .bg-stars

    = render :partial => 'layouts/scripts'
    = yield( :script )

    / menu to general information
    #gps-menu
      .gps-message
        Press the key ESC to exit the GPS or 
        %span.close-gps click here
      .menu-gps
        .circle.news
          = link_to 'News', announcements_path
        .circle.photos
          = link_to 'Photos', gallery_path
        .circle.about
          = link_to 'About', howto_path
