!!!
%html
  %head
    %title= content_for?(:title) ? "Hack Week: #{yield(:title)}" : 'Hack Week'
    %meta{:content => 'initial-scale=1', :name => 'viewport'}
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    - if request.path == root_path
      = javascript_include_tag 'intro'
    - else
      = javascript_include_tag 'show_menu'
    = csrf_meta_tags

  %body
    #screenLock.hidden
      .screenLockAligned
        = image_tag('screen-lock/devices.png', class: 'devices')
        .lockMessage
          = image_tag('screen-lock/icons.png')
          %h5
            Please turn your screen into a Landscape position to see this website properly
      %p.copyright www.hackweek.suse.com

    #splash
      .lower-gate
      .upper-gate

    .container
      .menu
        #left-menu
          %ul.list-unstyled
            - unless @current_user
              %li.menu-btn-login.login-bg
                %a{:href => new_user_ichain_session_path}
                  .outerCircle
                  .innerCircle
            - else
              %li
                = 'Logged in as '
                = link_to @current_user.name, me_users_path
                = link_to 'Log out', destroy_user_ichain_session_path, :method => :delete

            %li.menu-btn-twitter.row
              .col-xs-4
                = image_tag('menu-bar-twitter.png')

              .col-xs-8
                %p
                  %a{:href => 'https://twitter.com/hashtag/HWinterstellar?src=hash', :class => "hashtag"}
                    = '#HWinterstellar'

            %li.menu-btn-countdown
              %p.counter= days_to_launch
      .mainscreen-wraper
        .mainScreen.scrollbar
          .row
            = yield
        / Go Home button and contact
        #home-menu-contact
          .info-footer
            EMAIL: HACKWEEK@SUSE.DE
          .home-console
            .homeText Go Home
            %a{ :href => "https://hackweek.suse.com/"}
          .info-footer
            IRC: #HACKWEEK on Freenode
      
      / Right Menu - navigation
      .menu
        %nav#right-menu
          %ul
            %li.menu-btn-mainMenu
              //= link_to 'Announcements', announcements_path
            %li.menu-btn-joinproject
              = link_to '', projects_path 
            %li.menu-btn-createproject
              = link_to '', new_project_path



    / asteroids for the background go here
    = image_tag('asteroid.png', id: 'asteroid1', class: 'asteroid1')
    / layered background -->
    .nebula-down
    .nebula-up
    .bg-small-stars
    .bg-stars

    = render :partial => 'layouts/scripts'
    = yield( :script )
