%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title
      - if content_for?(:title)
        Hack Week:
        = yield(:title)
      -else
        Hack Week
    %meta{:charset=> "utf-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag "application", :media => "all"
    %meta{:property => "og:title", :content => "SUSE Hack Week"}
    %meta{:property => "og:image", :content => "http://hackweek.suse.com/images/hackweek-logo-10.png"}
    %meta{:property => "og:site_name", :content => "SUSE Hack Week"}
    %meta{:property => "og:description", :content => "Hack Week is the week where SUSE engineers can experiment without limits. This is the opportunity to innovate, collaborate across teams, and learn."}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/header"
    .container
      %div#loader
      #content
        - if flash
          #flash
            = render partial: "layouts/alert", flash: flash
        - if @news
          = render partial: "layouts/news"
        = yield
    = render :partial => "layouts/footer"

    = render :partial => "layouts/scripts" if Rails.env.production?
    = yield :script

    .modal.fade#modal{ role: :dialog, aria_hidden: true }
      .modal-dialog
        .modal-content
          .modal-header#modal-header
          .modal-body#modal-body
          .modal-footer
            %button.btn.btn-default{ type: :button, data:{ dismiss: :modal }} Close
