<!DOCTYPE hmtl>
<html>
  <head>
    <title>
    <%if content_for?(:title) %>
      Hack Week:
      <%= yield(:title) %>
    <% else %>
      Hack Week
    <% end %>
    </title>
    <meta name="viewport" content="initial-scale=1">
    <%= favicon_link_tag 'favicon.gif' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="screenLock">
      <div class="screenLockAligned">
        <%= image_tag("screen-lock/devices.png", class: 'devices') %>
        <div class="lockMessage">
        <%= image_tag("screen-lock/icons.png") %>
          <h5>
            Please turn your screen into a Landscape position to see this website properly
          </h5>
        </div>
      </div>
      <p class="copyright">www.hackweek.suse.com</p>
    </div>
    <div id="splash">
      <div class="lower-gate">
      </div>
      <div class="upper-gate">
      </div>
    </div>
    <div class="container">
      <!-- contains the information of each page -->
      <div class="mainScreen">
        <div class="col-md-6 col-md-offset-3">
          <%= yield %>
        </div>
        <!--
        <div class="menuGPS">
          <div class="circle"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        -->
      </div>
      <!-- Left Menu - information -->
      <div id="left-menu" class="menu">
        <ul>
          <li class="menu-btn-login">
            <div class="outerCircle"></div>
            <div class="innerCircle"></div>
          </li>
          <li class="menu-btn-twitter row">
            <div class="col-xs-4">
              <%= image_tag("menu-bar-twitter.png") %>
            </div>
            <div class="col-xs-8">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla dui,
                vestibulum ut leo pellentesque, vestibulum pellentesque diam. Ut</p>
            </div>
          </li>
          <li class="menu-btn-countdown">
            <p class="counter">23</p>
          </li>
        </ul>
      </div>
      <!-- Right Menu - navigation -->
      <nav id="right-menu" class="menu">
        
      </nav>
      <!-- Go Home button and contact -->
      <div id="home-menu-contact">
        <div class="info-footer">
          EMAIL: HACKWEEK@SUSE.DE
        </div>
        <div class="home-console"></div>
        <div class="info-footer">
          IRC: #HACKWEEK on Freenode
        </div>
      </div>
    </div>
    <!-- asteroids for the background go here -->
    <%= image_tag("asteroid.png", id: 'asteroid1', class: 'asteroid1') %>
    <!-- layered background -->
    <div class="nebula-down"></div>
    <div class="nebula-up"></div>
    <div class="bg-small-stars"></div>
    <div class="bg-stars"></div>
    <%= render :partial => "layouts/scripts" %>
    <%= yield :script %>
  </body>
</html>